---
extends: default
rules:
    line-length:
        max: 160
        level: warning
    indentation:
        level: error
        indent-sequences: consistent
    trailing-spaces: disable
    document-start: disable
    truthy: disable
    comments-indentation: disable
